@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:0; 
  }

fieldset {

    border: none;
    margin: 10px;
}

body {

    background-image: url(https://images.squarespace-cdn.com/content/v1/5d3318ccd8419c0001215a22/1589051362975-BYDI3TM334XOZCWX104P/nani-rodrigues-brejo-ciao-13.jpg?format=500w);
    background-size: cover;
    margin: 0 auto;

  }

  main {

    padding: 10px;
    color:#b3a6a6;
    /* text-align: center; */
    font-size: 14px;
    font-family: 'Swap'; 
    margin: 0 auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;

  }

  .button-clean:hover {

    transition: 0.5s;
    background-color: #c35743d5;
  }

  .button-buy:hover {

    transition: 0.5s;
    background-color: #35be23be;
  }

  

.recomendation::first-letter {

  font-size: 35px;
}


.custom-input:focus {

  background-color: rgb(215, 218, 183);
}

/* .main-header ul li:nth-child(3n):hover {

  background-color:red;

} */
/*incluindo o N ele ira colorir de 3 em 3*/
/* odd=impares e even = pares*/

.checkbox:hover {

  width: 25px;
  height: 25px;
  transition: 0.5s;
 

}


.bottom ul {

  list-style: none;

}

.bottom ul li {

  width: 20px;
  background-color: #574864;
  background-size: cover;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 6px;
  display: flex;
  position: relative;
}

.bottom ul li :nth-child(1) {

  background-color: red;
}
