/* color = propriedade */

 /* estilizando somente o título principal; conforme a classe*/
 .main-title {

    color: saddlebrown;
    font-size: 36px;
}

.main-subtitle {

    color: #ff0000;
    font-size: 18px;
}

.post h1,h3 { /*estilizar + de 1 elemento > colocar entre virgulas*/
background-color: rgb(228, 176, 109);

}
.article-title {

    color: #8a2be2;
   }

.articleTitle{
color: chartreuse;
}
